button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: black;
    padding: 1em;
}

.orange{
    color: white;
    background-color: #FF9500;
}

.grey{
    color: white;
    background-color: #505050;
}

.grey1{
    background-color: #D4D4D2;
    color: 1C1C1C;   
}

.resultado {
    color: white;
    display: flex;
    justify-content: right;
    margin: 0.5em;
    font-size: 3.5em;
}